/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (min-width: 768px) {
  .post:hover .overlay {
    display: block;
  }
}



.App {
  text-align: center;
}

.question-card {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 80%; /* Can be in percentage also. */
  height: auto;

  /* Visual  */
  /* background-color: rgb(205, 200, 200); */
  padding: 16px;
  border-radius: 16px;
  /* color: white; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.uls {
  list-style: none;
}

.lis {
  margin-top: 8px;
  /* background-color: rgb(242, 235, 255); */
  padding: 10px;
  border: 2px solid rgb(74, 74, 74);
  border-radius: 10px;
  font-size: 20px;
}

.question-text {
  /* color: rgb(198, 198, 198); */
  font-size: 24px;
}

/* Final Results  */

.final-results {
  /* Center the div  */
  margin: 0 auto;

  /* Dimensions  */
  width: 50%; /* Can be in percentage also. */
  height: auto;
  margin-top: 64px;

  /* Visual  */
  /* background-color: gray; */
  padding: 16px;
  border-radius: 16px;
  /* color: white; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.buttons {
  background-color: red; /* Green */
  border: none;
  /* color: white; */
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;

  border-radius: 24px;
}





